.header {
    margin-top: 10px;
}


.comptable{
    border-color:  orange !important;
}

.comptable1{
     border-color:  orange !important;
    background-color:  orange !important;
}

.btn-xs{
    background-color: black !important;
}

.fm1{
        display: -webkit-inline-box;
}